<head></head>
<body>
    

    <p class="h4 mb-4">Sign In</p>

    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" required #email>

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" required #password>

   

    <!-- Sign in button -->
    <button class="btn btn-danger btn-block my-4" type="submit" (click)="onSubmitLogin()">Sign in</button>

    <!-- Register -->
    <p>Not a member?
        <a href="pages/register">Register</a>
    </p>

   

</body>