<head>

</head>

<body>

    <nav class="navbar navbar-dark bg-dark">

			

			<a  style="text-decoration: none" href="">
				<h4 class="navElement">
					<i class="fas fa-forward mr-sm-2"></i>
					Vid News
				</h4>
			</a>
	
			
			
	
			<form class="form-inline">
	
				<input #keyword id="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				
				<button class="btn btn-danger mr-sm-2" type="submit" (click)="toSearchResults(keyword.value)">Search</button>
				<button class="btn btn-danger" (click)="toTags()">#Tags</button>
				
			</form>

			
	
			<div class="form-inline">
				
				<div *ngIf="auth.user | async as user; else loggedOut" class="form-inline">
					<h5 class="navElement  mr-3">{{user.firstName}} {{user.lastName}}</h5>

					<div *ngIf="user.accountType === ad">
						<button type="button" class="btn btn-danger mr-3" (click)="toUpload()">Upload</button>
					</div>

					<button type="button" class="btn btn-danger" (click)="signOut()">Sign Out</button>

					

				</div>

				<!-- <div *ngIf="auth.user.accountType === 'admin' | async" class="form-inline">
						<button type="button" class="btn btn-danger mr-3" (click)="toUpload()">Upload</button>
					</div> -->

				
			
				
				<ng-template #loggedOut>
						<h5><a class="navElement" href="pages/login">Sign In</a></h5>
				</ng-template>

			</div>

			

			

			
	
			
			
		</nav>
	
</body>
<router-outlet></router-outlet>
